<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secret access</title>
  </head>
  <body>
    <form action="/memberslobby" method="post">
      <h1>GUARDED DOOR</h1>
      <h3>You're one step way to get into our group!</h3>
      <label for="secret_code"
        >Enter the secret code to become a definitive member</label
      >
      <input
        type="password"
        name="secret_code"
        id="secret_code"
        style="display: block"
      />
      <button>Submit</button>
    </form>
    <br />
    <button type="button">
      <a href="/logout">Log out</a>
    </button>
  </body>
</html>
